body {
  background: linear-gradient(rgba(192,172,211,0), rgba(192,172,211,1)) fixed;
}

h1 {
  font-family: 'Courier New', monospace;
  text-align: center;
  color: rgb(106,139,147);
  font-size: 64px;
}

.submit_buttons {
  color: white;
  text-align: center;
  font-family: 'Courier New', monospace;
  border-radius: 12px;
  border: none;
  background-color: rgb(106,139,147);
  font-size: 35px;
  padding: 2%;
  margin: 2%;
}

.back_button {
  color: white;
  text-align: center;
  font-family: 'Courier New', monospace;
  border-radius: 12px;
  border: none;
  background-color: rgb(106,139,147);
  font-size: 30px;
  padding: 2%;
  margin: 2%;
}

input[class=buttons] {
  width: 80%;
  color: white;
  text-align: center;
  font-family: 'Courier New', monospace;
  border-radius: 12px;
  border: none;
  background-color: rgb(133,198,210);
  font-size: 16px;
  padding: 2%;
  margin: 2%;
}

input[type=text] {
  width: 80%;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 4px;
  padding-bottom: 2%;
  margin: 2%;
  font-size: 16px;
}

input[type=password] {
  width: 80%;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 4px;
  padding-bottom: 2%;
  margin: 2%;
  font-size: 16px;
}

textarea {
  width: 80%;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 4px;
  padding-bottom: 2%;
  margin: 2%;
  font-size: 16px;
}

.box {
  text-align: center;
  background: rgb(214, 253, 243);
  width: 50%;
  border-radius: 8px;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 2%;
}

.invisible {
  display: none;
}