<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <title>Учителя</title>
</head>
<body>
<h1>Учителя</h1>
<div class="box">
    <div class="teachers">
        {% for teacher in teachers %}
        <div class="teacher" onclick="redirect()">
            <a href="./teachers/{{teacher.id}}"><input class="buttons" type="button" value="{{ teacher.surname }} {{ teacher.name }} - {{ teacher.login }}"></a><br>
        </div>
        {% endfor %}
    </div>
    <a href="/logout"><input class="back_button" type="button" value="Выйти"></a>
</div>
</body>
</html>