<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <title>Проведенные тесты</title>
</head>
<body>
<h1>Проведенные тесты</h1>
    <div class="box">
        <div class="tests" onclick="redirect()">
            {% for test in tests %}
            <div class="test">
                <p>{{test_name}}</p>
            </div>
            {% endfor %}
        </div>
        <div class="back_button">
            <a href="./logout"><input type="button" value="Выйти"></a>
        </div>
    </div>
</body>
</html>