<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ed_process_admin_name}}</title>
</head>
<body>
<div class="ed_process_admin_box">
    <h1>{{ed_process_admin_name}}</h1>
    <div class="ed_process_admin_choice_box">
        <div class="buttons">
            <input type="button" value="Преподаватели">
        </div>
        <div class="buttons">
            <input type="button" value="Запланированные тестирования">
        </div>
        <div class="buttons">
            <input type="button" value="Проведенные тестирования">
        </div>
        <div class="buttons">
            <input type="button" value="Загруженные задания">
        </div>
    </div>
</div>
</body>
</html>