<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <title>authorization</title>
</head>
<body id="background_grad">
    <div class="login_box">
        <h1>Авторизируйтесь</h1>
        <div class="login_info_box">
            <form method="POST">
            <div class="textbox">
                <input type="text" placeholder="Логин"><br>
                <input type="password" placeholder="Пароль">
            </div>
            <div class="authorization_error">
                {{error}}
            </div>
            <input class="submit_buttons" type="submit" value="Вход">
            </form>
        </div>
    </div>
</body>
</html>