<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <title>{{ surname }} {{ name }}</title>
</head>
<body>
<h1>{{ surname }} {{ name }}</h1>
<div class="box">
    <div class="buttons">
        <a href="./student/tests"><input type="button" value="Запланированные тестирования"></a><br>
        <a href="./student/results"><input type="button" value="Результаты тестирований"></a>
    </div>
    <a href="./logout"><input class="back_button" type="button" value="Выйти"></a>
</div>
</body>
</html>