<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <title>New user</title>
</head>
<body>
    <div class="reg_box">
        <h1>Регистрация</h1>
        <div class="info_reg_box">
            <form method="POST">
            <div class="textbox">
                <input type="text" placeholder="Фамилия"><br>
                <input type="text" placeholder="Имя"><br>
                <input type="text" placeholder="Логин"><br>
                <input type="password" placeholder="Пароль">
            </div>
            <div class="registration_error">
                {{error}}
            </div>
            <input class="submit_buttons" type="submit" value="Зарегистрировать">
            </form>
            <div class="buttons">
                <a href="./logout"><input type="button" value="Выйти"></a>
            </div>
        </div>
    </div>
</body>
</html>