<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <title>{{system_admin_name}}</title>
</head>
<body>
    <div class="system_admin_box">
        <h1>{{system_admin_name}}</h1>
        <div class="system_admin_choice_box">
            <div class="buttons">
                <a href="./system_admin/new_group"><input type="button" value="Формирование группы"></a>
            </div>
            <div class="buttons">
                <a href="./system_admin/new_user"><input type="button" value="Регистрация нового пользователя"></a>
            </div>
            <div class="buttons">
                <a href="./logout"><input type="button" value="Выйти"></a>
            </div>
        </div>
    </div>
</body>
</html>