<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <title>New question</title>
</head>
<body>
<h1>Новый вопрос</h1>
<div class="question_box">
    <form method="POST" action="{{url_for('teacher_add_question')}}">
                {{ form_reg.hidden_tag() }}
        <div class="textbox">
            <input type="text" name="module_number" placeholder="Номер модуля"><br>
            <textarea name="question_content" placeholder="Содержание вопроса"></textarea><br>
            <input type="text" name="right_answer" placeholder="Правильный ответ">
            <input type="text" name="wrong_answer1" placeholder="Неправильный ответ"><br>
            <input type="text" name="wrong_answer2" placeholder="Неправильный ответ">
            <input type="text" name="wrong_answer3" placeholder="Неправильный ответ">
        </div>
        <div class="question_error">
            {{error}}
        </div>
        <input class="submit_buttons" type="submit" value="Добавить">
    </form>
    <div class="buttons">
        <a href="./logout"><input type="button" value="Выйти"></a>
    </div>
</div>
</body>
</html>