<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{teacher_name}}</title>
</head>
<body>
<div class="teacher_box">
    <h1>{{teacher_name}}</h1>
    <div class="teacher_choice_box">
        <div class="buttons">
            <input type="button" value="Группы учеников">
        </div>
        <div class="buttons">
            <input type="button" value="Создать новый вопрос">
        </div>
        <div class="buttons">
            <input type="button" value="Параметры тестирования">
        </div>
    </div>
</div>
</body>
</html>