<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <title>{{test_name}}</title>
</head>
<body>
    <div class="test_box">
        <h1>{{test_name}}</h1>
        <div class="content_box">
            <div class="test_questions">
                {% for question in questions %}
                <div class="question">
                    <div class="question_content">
                        <p>{{question_content}}</p>
                    </div>
                    <div class="answers">
                        <p><input type="radio" name="answer" value="1">{answer_1}</p>br>
                        <p><input type="radio" name="answer" value="0">{answer_2}</p><br>
                        <p><input type="radio" name="answer" value="0">{answer_3}</p><br>
                        <p><input type="radio" name="answer" value="0">{answer_4}</p>
                    </div>
                </div>
                {% endif %}
            </div>
            <input class="submit_buttons" type="submit" value="Закончить">
        </div>
    </div>
</body>
</html>