<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <title>Создание теста</title>
</head>
<body>
<h1>Создание теста</h1>
<div class="box">
    <div class="options_box">
        <form method="POST" action="{{url_for('teacher_test_options')}}">
            {{ form.hidden_tag() }}
            <div class="textbox">
                <input type="text" name="group_id" placeholder="Номер группы"><br>
                <input type="date" name="date" placeholder="Дата"><br>
                <input type="text" name="num_questions" placeholder="Количество вопросов в тесте"><br>
                <input type="text" name="num_modules" placeholder="Количество модулей"><br>
                <input type="text" name="num_module_questions" placeholder="Количество вопросов из модуля">
            </div>
            <div class="test_error">
                {{error}}
            </div>
                <button class="submit_buttons" type="submit" value="Создать">Создать</button>
        </form>
        <a href="./logout"><input class="back_button" type="button" value="Выйти"></a>
    </div>
</div>
</body>
</html>