<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <title>{{test_name}}</title>
</head>
<body id="background_grad">
    <div class="test_box">
        <h1>{{test_name}}</h1>
        <div class="content_box">
            <div class="test_questions">
                {% for question in questions %}
                <div class="question">
                    <div class="question_content">
                        <p>{{question_content}}</p>
                    </div>
                    <div class="answers">
                        <input type="radio" value="{answer_1}"><br>
                        <input type="radio" value="{answer_2}"><br>
                        <input type="radio" value="{answer_3}"><br>
                        <input type="radio" value="{answer_4}">
                    </div>
                </div>
                {% endif %}
            </div>
            <input class="submit_buttons" type="submit" value="Закончить">
        </div>
    </div>
</body>
</html>